<div class="flex items-center justify-center lg:px-16 px-8 pt-14.5 pb-8">
	<a href="https://store.steampowered.com/app/3688000" class="relative w-128 group">
		<img src="/assets/hf/wishlist.png"
			class="w-128 transform transition-transform duration-200 group-hover:scale-105 ease-out">

		<!-- Committing a little war crime for the sake of prettiness :) -->
		<img src="/assets/hf/arrows1.png" class="absolute top-0 left-0 w-128 pointer-events-none transform transition-transform ease-out duration-200 group-hover:scale-102">
		<img src="/assets/hf/arrows2.png" class="absolute top-0 left-0 w-128 pointer-events-none transform transition-transform ease-out duration-200 group-hover:scale-96">
		<img src="/assets/hf/arrows3.png" class="absolute top-0 left-0 w-128 pointer-events-none transform transition-transform ease-out duration-200 group-hover:scale-92">
	</a>
</div>