@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");
@import "tailwindcss";

@theme 
{
	--font-foxe: "Asul", sans-serif; 

	--color-foxe-dark: #131314;
	--color-foxe-medium: #212123;
	--color-foxe-light: #E3E3E3;
}